@model RegisterVM


<div class="container">
    <div class="row">
        <form asp-action="Register">
            <br />
            <br />
            <br />
            <br />
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <span asp-validation-for="Email"></span>
            </div>
            <br />
            <div class="form-group">
                <label>Fullname</label>
                <input asp-for="Fullname" class="form-control" placeholder="fullname">
                <span asp-validation-for="Fullname"></span>
            </div>
            <br />
            <div class="form-group">
                <label>Username</label>
                <input asp-for="Username" class="form-control" placeholder="username">
                <span asp-validation-for="Username"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="password">
                <span asp-validation-for="Password"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="password">
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Register</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>